In [1]:
import os
os.chdir('/Users/ryanmccrickerd/desktop/phd/2017-18/extended-rmc/')

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('data/GBPUSD-2017-08-01.csv', header=None)

In [4]:
np.array(df.columns)
df

       0        1       2       3       4       5
0  Delta      10P     25P     ATM     25C     10C
1     1W   8.5812  8.2062  7.9525  8.0637  8.3687
2     1M   8.0862  7.5775   7.245  7.3625  7.7137
3     3M   8.7424  7.9511   7.415  7.4437  7.8474
4     6M   9.8001  8.6963   7.935  7.8788    8.35
5     1Y  10.9688   9.555  8.5675    8.41  8.8913

In [5]:
deltas = np.array(df.loc[0,1:])[np.newaxis,:].astype(str)
maturities = np.array(df.loc[1:,0])[:,np.newaxis].astype(str)
surface = np.array(df.loc[1:,1:]).astype(float)

In [6]:
deltas

array([['10P', '25P', 'ATM', '25C', '10C']],
      dtype='<U3')

In [7]:
maturities

array([['1W'],
       ['1M'],
       ['3M'],
       ['6M'],
       ['1Y']],
      dtype='<U2')

In [8]:
surface

array([[  8.5812,   8.2062,   7.9525,   8.0637,   8.3687],
       [  8.0862,   7.5775,   7.245 ,   7.3625,   7.7137],
       [  8.7424,   7.9511,   7.415 ,   7.4437,   7.8474],
       [  9.8001,   8.6963,   7.935 ,   7.8788,   8.35  ],
       [ 10.9688,   9.555 ,   8.5675,   8.41  ,   8.8913]])

In [9]:
from rbergomi.surface_utils import csv_import

In [10]:
ccy = 'GBPUSD'
date = '2017-08-01'
df = csv_import(ccy, date)

In [11]:
df.columns

Index(['10P', '25P', 'ATM', '25C', '10C'], dtype='object')

In [12]:
from rbergomi.surface import Surface

In [13]:
surface = Surface(ccy, date)

In [15]:
surface.surface

        10P     25P     ATM     25C     10C
1W   8.5812  8.2062  7.9525  8.0637  8.3687
1M   8.0862  7.5775  7.2450  7.3625  7.7137
3M   8.7424  7.9511  7.4150  7.4437  7.8474
6M   9.8001  8.6963  7.9350  7.8788  8.3500
1Y  10.9688  9.5550  8.5675  8.4100  8.8913

In [19]:
surface.vols

array([[ 0.085812,  0.082062,  0.079525,  0.080637,  0.083687],
       [ 0.080862,  0.075775,  0.07245 ,  0.073625,  0.077137],
       [ 0.087424,  0.079511,  0.07415 ,  0.074437,  0.078474],
       [ 0.098001,  0.086963,  0.07935 ,  0.078788,  0.0835  ],
       [ 0.109688,  0.09555 ,  0.085675,  0.0841  ,  0.088913]])