In [1]:
import os
os.chdir('/Users/ryanmccrickerd/desktop/phd/2017-18/extended-rmc/')

In [9]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv('data/GBPUSD-2017-08-01.csv', header=None)

In [17]:
np.array(df.columns)
df

       0        1       2       3       4       5
0  Delta      10P     25P     ATM     25C     10C
1     1W   8.5812  8.2062  7.9525  8.0637  8.3687
2     1M   8.0862  7.5775   7.245  7.3625  7.7137
3     3M   8.7424  7.9511   7.415  7.4437  7.8474
4     6M   9.8001  8.6963   7.935  7.8788    8.35
5     1Y  10.9688   9.555  8.5675    8.41  8.8913

In [40]:
deltas = np.array(df.loc[0,1:])[np.newaxis,:].astype(str)
maturities = np.array(df.loc[1:,0])[:,np.newaxis].astype(str)
surface = np.array(df.loc[1:,1:]).astype(float)

In [41]:
deltas

array([['10P', '25P', 'ATM', '25C', '10C']],
      dtype='<U3')

In [42]:
maturities

array([['1W'],
       ['1M'],
       ['3M'],
       ['6M'],
       ['1Y']],
      dtype='<U2')

In [39]:
surface

array([[  8.5812,   8.2062,   7.9525,   8.0637,   8.3687],
       [  8.0862,   7.5775,   7.245 ,   7.3625,   7.7137],
       [  8.7424,   7.9511,   7.415 ,   7.4437,   7.8474],
       [  9.8001,   8.6963,   7.935 ,   7.8788,   8.35  ],
       [ 10.9688,   9.555 ,   8.5675,   8.41  ,   8.8913]])

In [ ]:
year_fracs =